@model WebApplication2.Models.BillingPlan
@{
    ViewBag.Title = "Create Billing Plan";
}

@Html.ValidationSummary()

<form method="post" action="@Url.Action("Create")" class="form-horizontal">
	<fieldset>
		<legend>Details</legend>
		<div class="form-group">
			@Html.LabelFor(x => x.Name, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.Name)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.Description, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				@Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 5 })
				@Html.ValidationMessageFor(x => x.Description)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.PlanType, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				@Html.DropDownListFor(x => x.PlanType, (IEnumerable<SelectListItem>)ViewBag.PossibleTypes, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.PlanType)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.Frequency, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				@Html.EnumDropDownListFor(x => x.Frequency, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.Frequency)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.NumberOfCycles, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				@Html.TextBoxFor(x => x.NumberOfCycles, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.NumberOfCycles)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.Amount, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
					@Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
				</div>
				@Html.ValidationMessageFor(x => x.Amount)
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-sm-9 col-sm-offset-3">
			<button type="submit" class="btn btn-primary">Save New Plan</button>
		</div>
	</div>
</form>