@model WebApplication2.Models.PurchaseInfo

@{
    ViewBag.Title = "Make a Purchase";
	var cardList = (PayPal.Api.CreditCardList)ViewBag.Cards;
}

@Html.ValidationSummary()

<form method="post" action="@Url.Action("Create")" class="form-horizontal">
	<fieldset>
		<legend>Purchase Details</legend>
		<div class="form-group">
			@Html.LabelFor(x => x.Amount, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
					@Html.TextBoxFor(x => x.Amount, new { @class = "form-control" })
				</div>
				@Html.ValidationMessageFor(x => x.Amount)
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Recurring?</label>
			<div class="col-sm-9">
				<label class="radio-inline">
					@Html.RadioButtonFor(x => x.IsRecurring, false) Single Payment
				</label>
				<label class="radio-inline">
					@Html.RadioButtonFor(x => x.IsRecurring, true) Recurring Payment
				</label>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.BillingPeriod, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				@Html.EnumDropDownListFor(x => x.BillingPeriod, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.BillingPeriod)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.NumberOfCycles, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				@Html.TextBoxFor(x => x.NumberOfCycles, new { @class = "form-control" })
				@Html.ValidationMessageFor(x => x.NumberOfCycles)
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Payment Method</legend>
		@if (cardList != null && cardList.items != null && cardList.items.Count > 0) {
			<div class="form-group">
				<label class="control-label col-sm-3">Stored Cards</label>
				<div class="col-sm-9">
					@foreach (var card in cardList.items) {
					<div class="radio">
						<label><input type="radio" name="CreditCardId" value="@card.id" /> <span class="label label-default">@card.type</span> @card.number exp. @card.expire_month / @card.expire_year - @card.first_name @card.last_name</label>
					</div>
					}
					<div class="radio">
						<label><input type="radio" name="CreditCardId" value="" /> Use new card</label>
					</div>
				</div>
			</div>
		} else {
			<input type="hidden" name="CreditCardId" value="" />
		}
		<div class="form-group">
			<label class="control-label col-sm-3">Name</label>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6">
						@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First Name" })
						@Html.ValidationMessageFor(x => x.FirstName)
					</div>
					<div class="col-sm-6">
						@Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last Name" })
						@Html.ValidationMessageFor(x => x.LastName)
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(x => x.CreditCardNumber, new { @class = "control-label col-sm-3" })
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-10">
						@Html.TextBoxFor(x => x.CreditCardNumber, new { @class = "form-control", placeholder = "Credit Card Number" })
						@Html.ValidationMessageFor(x => x.CreditCardNumber)
					</div>
					<div class="col-sm-2">
						@Html.TextBoxFor(x => x.CVV2, new { @class = "form-control", placeholder = "CVV2" })
						@Html.ValidationMessageFor(x => x.CVV2)
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3 required">Expiration Date</label>
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-6">
						@Html.DropDownListFor(x => x.ExpMonth, (IEnumerable<SelectListItem>)ViewBag.PossibleMonths, "-- Select Month --", new { @class = "form-control" })
					</div>
					<div class="col-sm-6">
						@Html.DropDownListFor(x => x.ExpYear, (IEnumerable<SelectListItem>)ViewBag.PossibleYears, "-- Select Year --", new { @class = "form-control" })
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="checkbox">
					<label>
						@Html.CheckBoxFor(x => x.SavePaymentInfo) @Html.DisplayNameFor(x => x.SavePaymentInfo)
					</label>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9"><button type="submit" class="btn btn-primary">Make Purchase</button></div>
	</div>
</form>

@section scripts {
	<script>
		$(function () {
			$('input[name=IsRecurring]').on('change', function (e) {
				var isRecurring = $(this).val().toLowerCase() == 'true' ? true : false;
				$('#BillingPeriod,#NumberOfCycles').prop('disabled', !isRecurring).val('');
			});

			$('input[name=CreditCardId').on('change', function (e) {
				var creditCardId = $(this).val();

				if (creditCardId == '') {
					$('#ExpMonth,#ExpYear,#SavePaymentInfo,#CreditCardNumber,#CVV2,#FirstName,#LastName').prop('disabled', false);
				} else {
					$('#ExpMonth,#ExpYear,#SavePaymentInfo,#CreditCardNumber,#CVV2,#FirstName,#LastName').prop('disabled', true).val('');
				}
			});
		});
	</script>
}